/* Make HTML 5 elements display block-level for consistent styling */  
header, nav, article, section, aside, footer, address {  
  display: block; }

@font-face {
  font-family: 'GlacialIndifferenceRegular';
  src: url('fonts2/glacial-indifference-regular.woff2') format('woff2'),
    url('fonts2/glacial-indifference-regular.woff') format('woff'); }

body {
  margin: 0;
  padding: 0;
  font-family: 'GlacialIndifferenceRegular'; }
  /*font-family: 'LeagueGothicRegular'; }*/

header {
  background-color: black }
  header p {
    font-size: 32px;
    color: white; }

h1 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: lighter;
  margin: 30px 0 0 0; }

h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: lighter;
  margin: 15px 0 15px 20px;
  text-align: left; }

p {
  margin: 0;
  font-size: 16px; }
  p.lead {
    color: #DEBC16 }
