/* Make HTML 5 elements display block-level for consistent styling */  
header, nav, article, section, aside, footer, address {  
  display: block; }

/* Fonts */
@font-face {
  font-family: 'Free Universal';
  src: url('fonts/free-universal/regular/free-universal-regular.woff2') format('woff2'),
    url('fonts/free-universal/regular/free-universal-regular.woff') format('woff'),
    url('fonts/free-universal/regular/free-universal-regular.svg') format('svg'),
    url('fonts/free-universal/regular/free-universal-regular.ttf') format('truetype'),
    url('fonts/free-universal/regular/free-universal-regular.eot?') format('eot');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Free Universal';
  src: url('fonts/free-universal/bold/free-universal-bold.woff2') format('woff2'),
    url('fonts/free-universal/bold/free-universal-bold.woff') format('woff'),
    url('fonts/free-universal/bold/free-universal-bold.svg') format('svg'),
    url('fonts/free-universal/bold/free-universal-bold.ttf') format('truetype'),
    url('fonts/free-universal/bold/free-universal-bold.eot?') format('eot');
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Free Universal';
  src: url('fonts/free-universal/italic/free-universal-italic.woff2') format('woff2'),
    url('fonts/free-universal/italic/free-universal-italic.woff') format('woff'),
    url('fonts/free-universal/italic/free-universal-italic.svg') format('svg'),
    url('fonts/free-universal/italic/free-universal-italic.ttf') format('truetype'),
    url('fonts/free-universal/italic/free-universal-italic.eot?') format('eot');
  font-stretch: normal;
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Free Universal';
  src: url('fonts/free-universal/bold-italic/free-universal-bold-italic.woff2') format('woff2'),
    url('fonts/free-universal/bold-italic/free-universal-bold-italic.woff') format('woff'),
    url('fonts/free-universal/bold-italic/free-universal-bold-italic.svg') format('svg'),
    url('fonts/free-universal/bold-italic/free-universal-bold-italic.ttf') format('truetype'),
    url('fonts/free-universal/bold-italic/free-universal-bold-italic.eot?') format('eot');
  font-stretch: normal;
  font-style: italic;
  font-weight: bold;
}

/* Elements */
body {
  margin: 0;
  padding: 0;
  font-family: 'Free Universal'; }

header {
  background-color: black }
  header p {
    font-size: 32px;
    color: white; }
    header p.lead {
      font-size: 36px; }

h1 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: lighter;
  margin: 30px 0 0 0; }

h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: lighter;
  margin: 15px 0 15px 20px;
  text-align: left; }

p {
  margin: 0;
  font-size: 16px; }
  p.lead {
    color: #DEBC16; 
    font-size: 20px; }
